body {
    background-color: #151515;
}


#h1-title {
    padding-top: 5%;
    text-align: center;
    color: white;
    font-family: 'Poppins Black', sans-serif;

    font-size: 5em;
}

#h2-desc {
    text-align: center;
    color: grey;
    font-family: 'Poppins Thin', sans-serif;
}





.container {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

.box {
    padding: 1em;
    background: #1c1c1c;
    border-color: #1c1c1c; 
    border-width: 2px;
    border-style: solid; 
    width: calc((100% - 3 * 2.5%) / 4); /* Change this to a relative unit */
    
    margin: 2.5%; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
}


@media (max-width: 1200px) {
    .box {
        width: calc((100% - 2 * 2.5%) / 3);
    }
}

@media (max-width: 800px) {
    .box {
        width: calc((100% - 2.5%) / 2);
    }
}

@media (max-width: 500px) {
    .box {
        width: 100%;
    }
}




.esp {
    background: #151515;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins Bold', sans-serif;
    transition: font-size 0.3s ease-in-out; /* Add transition property */
}

.esp:hover {
    background: #151515;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins Bold', sans-serif;
}


#titlebox1 {
    background: linear-gradient(to right, #521b1b, #f90202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins Bold', sans-serif;
    font-size: 20px;
    overflow: visible;
    width: 100%;

}

#titlebox2 {
    background: linear-gradient(to left, #6d8ad7, #022334);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins Bold', sans-serif;
    font-size: 20px;
    overflow: visible;
    width: 100%;

}



#titlebox3 {
    background: linear-gradient(to left, #00fe15, #02341b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins Bold', sans-serif;
    font-size: 20px;
    overflow: visible;
    width: 100%;

}



#descbox {
    color: white;
    font-family: 'Poppins Thin', sans-serif;
    font-size: 15px;
    text-align: center;


}

@media (min-width: 600px) {
    .box {
        width: 40%; 
        max-width: 40%;
    }
}

.text {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    position: inherit;
}

.image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.image img {
    max-width: 100%; /* Cela garantit que l'image ne dépasse pas la largeur de son conteneur */
    height: auto; /* Cela maintient le ratio d'aspect de l'image */
    margin-left: 10px; /* Ajoute une marge à gauche pour coller l'image au texte */
}



@media (min-width: 600px) {
    .text {
        width: 40%;
        max-width: 40%;
    }
}


@media (min-width: 300px) {
    .image {
        width: 20%;
        
    }
}

@media (max-width: 20%) {
    .image {
        width: 20%;
        
    }
}


@media (max-width: 600px) {
    #titlebox, #titlebox2, #titlebox3, #titlebox4 {
        font-size: 40px;
    }
}



@font-face {
    font-family: 'Poppins Bold';
    src: url('FONTS/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins Thin';
    src: url('FONTS/Poppins-Thin.ttf');
}

@font-face {
    font-family: 'Poppins Black';
    src: url('FONTS/Poppins-Black.ttf');
}